@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    /* background color */
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    /* height */
    height: 100%;
    /* background padding */
    padding-left: 3rem/* 48px */;
    padding-right: 3rem/* 48px */;
  }
}